.hoverImg img{
    width: 12.8rem;
    justify-content: flex-start;
    display: flex;
    margin-left: -12px;

}

.hoverImg{
    display: flex;
flex-direction: row;
gap: 10px;
}

.card_finishedPanel{
   width: 215px !important; 
}