.hoverImg img{
    /* height: 30rem; */
    width: 12.8rem;
    justify-content: flex-start;
    display: flex;

}

.hoverImg{
    display: flex;
flex-direction: row;
gap: 10px;
}

.card_finishedPanel{
   width: 215px !important; 
   /* background-color: #91492544 !important; */
}